body {
  margin: 0;
  background-color: #1A1A1A;
  color: #FFFFFF;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --text-color: #FFFFFF;
  --text-color2: #212121;

  --color-active: #9DCCC0;

  --background2: #3A3A3A;
  --background3: #AAAAAA;
}


.tooltip .tooltip-text {
  visibility: hidden;
  width: 350px;
  background-color: #111;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: relative;
  z-index: 1;
  top: 20px;
}

.tooltip-text p {
  margin-left: 10px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}