@import url('/src/themes/dark.css');
@import url('/src/themes/light.css');

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text-color);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 350px;
  background-color: var(--tooltip-background);
  color: var(--text-color);
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: relative;
  z-index: 1;
  top: 20px;
}

.tooltip-text p {
  margin-left: 10px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

input,
textarea{
  background-color: var(--input-background);
  color: var(--text-color);
}