/* .title {
  border: 2px solid black;
  margin: 10px;
  width: 150px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

.card {
  border: 2px solid black;
  margin: 10px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  border: 2px solid black;
  margin: 10px;
  width: 175px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  border: 2px solid black;
  margin: 10px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
} */