:root:has(body[data-theme='dark']) {
  --background: var(--dark-background);
  --tooltip-background: #111;
  --subcontainer-background: #3A3A3A;
  --sprint-active: #9DCCC0;

  --modal-background: #1E1E1E;
  --modal-border: #3A3A3A;
  --modal-header: #212121;
  --modal-header-text: #FFF;

  --text-color: var(--dark-text-color);
  --text-color2: #212121;
  --text-title: #888;

  --search-result: #333;
  --column: #212121;

  --input-background: #333;

  /* --column-background: #007BFF;
  --column-header-text: #FFF;
  --column-border: #CED4DC; */

  --ticket-background: #3A3A3A;
  --ticket-text: #FFF;

  --icon-fill: #fff;
}

:root {
  --dark-background: #1a1a1a;
  --dark-text-color: #fff;
  --dark-ticket-background: #3A3A3A;
  --dark-column-background: #212121;
  --dark-header-background: #212121;
}