*:has(body[data-theme='dark']) {
  --background: #1A1A1A;
  --tooltip-background: #111;
  --subcontainer-background: #3A3A3A;
  --sprint-active: #9DCCC0;
  --modal-background: #1E1E1E;

  --text-color: #FFFFFF;
  --text-color2: #212121;
  --text-title: #888;

  --search-result: #333;
  --column: #212121;

  --input-background: #333;
}