:root:has(body[data-theme='light']) {
  --background: #f0f2f5;
  --tooltip-background: #f0f2f5;
  --subcontainer-background: #f0f2f5;
  --sprint-active: #47CC94;

  --modal-background: #f0f2f5;
  --modal-border: #CED4DC;
  --modal-header: #007BFF;
  --modal-header-text: #FFF;

  --text-color: #000;
  --text-color2: #212121;
  --text-title: #333;

  --search-result: #c6cbd0;
  --column: #FFFFFF;

  --input-background: #E5E5E5;

  --column-background: #007BFF;
  --column-header-text: #FFF;
  --column-border: #CED4DC;

  --ticket-background: #F5F6F7;
  --ticket-text: #172B4D;

  --icon-fill: rgb(95, 99, 104);
}