* {
  --background: #fff;
  --tooltip-background: #333;
  --subcontainer-background: #9394a5;
  --sprint-acitve: #9DCCC0;
  --modal-background: var(--background);

  --text-color: #000;
  --text-color2: #212121;
  --text-title: #333;

  --search-result: #333;
  --column: #484b6a;
}