*:has(body[data-theme='light']) {
  --background: #CED4DC;
  --tooltip-background: #333;
  --subcontainer-background: #596780;
  --sprint-active: #47CC94;
  --modal-background: var(--background);

  --text-color: #000;
  --text-color2: #212121;
  --text-title: #333;

  --search-result: #333;
  --column: #FFFFFF;

  --input-background: var(--subcontainer-background);

  --column-background: #007BFF;
  --column-header-text: #FFF;
  --column-border: #CED4DC;

  --ticket-background: #F5F6F7;
  --ticket-text: #172B4D;
}