:root:has(body[data-theme='orange']) {
  --background: var(--orange-background);
  --tooltip-background: #f0f2f5;
  --subcontainer-background: #f0f2f5;
  --sprint-active: #47CC94;

  --modal-background: #E6E6FA;
  --modal-border: #DCDCDC;
  --modal-header: #D8BFD8;
  --modal-header-text: #800080;
  --modal-text: #696969;

  --text-color: var(--orange-text-color);
  --text-color2: #212121;
  --text-title: #333;

  --search-result: #c6cbd0;
  --column: #FFFFFF;

  --input-background: #E5E5E5;

  --column-background: #800080;
  --column-header-text: #D8BFD8;
  --column-border: #CED4DC;

  --ticket-background: var(--orange-ticket-background);
  --ticket-text: #172B4D;

  --icon-fill: #8B5F92;
}

:root {
  --orange-background: #F8F8FF;
  --orange-text-color: #696969;
  --orange-ticket-background: #E6E6FA;
  --orange-column-background: #FFE4C4;
  --orange-header-background: #800080;
}